<div class="card">
    <h5 class="card-header">User list</h5>
    <div class="card-body">

        <div class="table-wrapper-scroll-y my-custom-scrollbar">
            <table *ngIf="users" class="table table-sm table-hover table-bordered">
                <thead>
                    <tr>
                        <th scope="col">Ondex ID</th>
                        <th scope="col">Full Name</th>
                        <th scope="col">Roles</th>
                        <th scope="col">Description</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let user of users | async; let i = index">
                        <th scope="row">{{user.userId}}</th>
                        <td>{{user.fullName}}</td>
                        <td><span *ngFor="let role of user.roleNames">{{role}},</span></td>
                        <td>{{user.description}}</td>
                    </tr>                
                </tbody>
            </table>
        </div>
        <hr>
        <form>
            <div class="form-row">
                <div class="col-5">
                    <input type="text" class="form-control" placeholder="Full name">
                </div>
                <div class="col-3">
                    <input type="text" class="form-control" placeholder="Description">
                </div>
                <div class="col">
                    <button class="btn btn-info">Update</button>
                </div>
                <div class="col">
                    <button class="btn btn-danger">Remove</button>
                </div>
            </div>
        </form>


        <button class="btn btn-secondary btn-sm dropdown-toggle add-user-button" role="button" aria-expanded="false" (click)="toggleStatus()">
            Add user
        </button>

        <div
        [ngClass]="status ? 'reveal' : 'hide'">
            <div class="card card-body">
                <form>
                    <div class="form-row">
                        <div class="col-5">
                            <input type="text" class="form-control" placeholder="AD">
                        </div>
                        <div class="col-3">
                            <input type="text" class="form-control" placeholder="Description">
                        </div>
                        <div class="col">
                            <button class="btn btn-info">Add</button>
                        </div>                                            
                    </div>
                    <small>Note: Name will be read from AD</small>
                </form>
            </div>
        </div>
    </div>
</div>