<div class="container-fluid">
   <span>Privileges editor</span> 
    <div class="row">
        <div class="col-sm-3">
            <app-version-select></app-version-select>
            <app-role-select></app-role-select>
            <hr>
            <app-operational-privileges></app-operational-privileges>
        </div>
        <div class="col-sm-3">
            <app-complete-levels></app-complete-levels>
        </div>
        <div class="col-sm-6">
            <app-specific-items></app-specific-items>
        </div>
    </div>
</div>