<div class="card">
    <h5 class="card-header">Role editor</h5>
    <div class="card-body">

        <div class="table-wrapper-scroll-y my-custom-scrollbar" id="custom-scrollbar">
            <table class="table table-sm table-hover table-bordered">
                <thead>
                    <tr>
                        <th scope="col">Role</th>
                        <th scope="col">Description</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let role of rolesWithPrivilege$ | async | keyvalue; let i = index" (click)="selectRow(role.value, i)" [ngClass]="{'table-active': i === roleIndex}">
                    <th scope="row">{{role.value.name}}</th>
                    <td>{{role.value.description}}</td>
                        <!-- <td><span *ngFor="let privilege of role.rolePrivileges">{{privilege.levelName}}, </span></td> -->
                    </tr>                
                </tbody>
            </table>
        </div>
        <hr>
        
            <div class="form-row">
                <div class="col-5">                                                            
                    <input type="text" class="form-control" placeholder="Role" #roleNameInput>                    
                </div>
                <div class="col-3">
                    <input type="text" class="form-control" placeholder="Description" #roleDescriptionInput>
                </div>
                <div class="col">
                    <button class="btn btn-info" [disabled]="!selectedRole" (click)="onUpdateClick(roleNameInput.value, roleDescriptionInput.value)">Update</button>
                </div>
                <div class="col">
                    <button class="btn btn-danger" [disabled]="!selectedRole" (click)="onDeleteClick()">Remove</button>
                </div>
            </div>
        

        <button class="btn btn-secondary btn-sm dropdown-toggle add-role-button" role="button" aria-expanded="false"
            (click)="toggleStatus()">
            Add role
        </button>

        <div [ngClass]="toggler ? 'reveal' : 'hide'">
            <div class="card card-body">
                    <div class="form-row">
                        <div class="col-5">
                            <input type="text" class="form-control" placeholder="Role" #roleAddNameInput>
                        </div>
                        <div class="col-3">
                            <input type="text" class="form-control" placeholder="Description" #roleAddDescriptionInput>
                        </div>
                        <div class="col">
                            <button class="btn btn-info" (click)="onAddClick(roleAddNameInput.value, roleAddDescriptionInput.value)">Add</button>
                        </div>
                    </div>                    
            </div>
        </div>


    </div>
</div>