<div class="margin">
    <h4>Configuration privileges</h4>
    <div class="card">
        <h5 class="card-header">Complete levels</h5>
        <div class="card-body">

            <div class="table-wrapper-scroll-y my-custom-scrollbar">
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" id="Check1">
                    <label class="form-check-label" for="completeCheck1">
                        Default checkbox
                    </label>
                </div>
            </div>

        </div>
    </div>
</div>